body{
    font-family: Verdana;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}
a.download {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}
h2{
    font-weight: 300;
    font-size: 42px;
}
p.pfeature {
    font-size: 21px;
    color: gray;
}
footer {
    text-align: right;
    color: gray;
}